:root {
  --orange: #fe9501;
  --light-gray: #a5a5a5;
  --dark-gray: #333333;
  --active-gray: #737373;
  --active-orange: #f3ca96;
}

html {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 62.5%; // 10px
  background-color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
}

.calc__container {
  max-width: 562px;
  margin: 0 auto;
}
.calc_screen {
  height: 200px;
  font-size: 10rem;
  font-weight: 300;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;
}

// .calc__buttons__container {
//   display: flex;
//   flex-flow: row wrap;
//   font-size: 5rem;
//   gap: 3rem;
//   justify-content: space-between;
// }

.calc__buttons__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 5rem;
  gap: 2rem;
}

.calc__button {
  border-radius: 66px;
  width: 112.5px;
  height: 112.5px;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  .__pos {
    top: -1.1rem;
  }
  .__neg {
    top: 0.8rem;
  }
  .__pos,
  .__neg {
    font-size: 3rem;
    position: relative;
    font-weight: bold;
  }
  .__times {
    transform: rotate(45deg) translate(0px, -7px);
    font-size: 7rem;
  }
}
.__grow {
  // flex-grow: 1;
  grid-column-end: span 2;
  place-self: center stretch;
  width: auto;
}
.calc__button:nth-of-type(4n),
.__bg-color-orange {
  background-color: var(--orange);
}

.__bg-color-gray {
  background-color: var(--light-gray);
}
.__font-color-white {
  color: white;
}
.__no-center {
  justify-content: flex-start !important;
  padding-left: 4rem;
}
.__divide {
  transform: translate(0px, -5px);
  font-size: 7rem;
}
.__plus {
  transform: translate(0px, -8px);
  font-size: 7rem;
}
.__sub {
  transform: translate(0px, -5px);
  font-size: 7rem;
}
